.image-wrap-profile {
    float: left;
    margin-right: 1em;
    width: 150px;
    height: 200px;
}
.image-wrap-profile img {
    width: 100%;
    height: auto;
}
/* 
@media screen and (max-width:768px) {
    h1 {
        text-align: left;
    }



} */



/* @media screen and (max-width:650px) {
    .my-name, .my-nav{
        margin: 0 auto;
    }
} */