.image-wrap-profile {
    float: left;
    margin-right: 1em;
    width: 150px;
    height: 200px;
}
.image-wrap-profile img {
    width: 100%;
    height: auto;
}
body {
    background-color: lightgoldenrodyellow;
}
.container {
    background-color: #ffffff;
}